<div>
    <div class="forum-item">
        <div class="forum-contents">
            <div class="forum-title">
                {{forum.title}}
            </div>
            <div class="forum-content-details">
                <div class="forum-date-created">
                    {{forum.createdAt}}
                </div>
                <div class="forum-date-modified">
                    {{forum.updatedAt}}
                </div>
            </div>
        </div>
        <div class="forum-details">
        </div>
    </div>
</div>